<h3>{{viewTitle}}</h3>

<form action="/product" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="productName" placeholder="Product Name" value="{{product.productName}}">
        <div class="text-danger">
            {{product.productNameError}}</div>
    </div>
    <div class="form-group">
        <label>ProductID</label>
        <input type="text" class="form-control" name="ProductID" placeholder="ProductID" value="{{product.productID}}">
        <div class="text-danger">
            {{product.productIDError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Price</label>
            <input type="text" class="form-control" name="Price" placeholder="Price" value="{{product.price}}">
        </div>
        <div class="form-group col-md-6">
            <label>Current Stock</label>
            <input type="text" class="form-control" name="Current Stock" placeholder="Current Stock" value="{{product.currentStock}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/product/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>